body{
    display: grid;
    grid-area: span;
    background-color: #f9f3ec
}

.title{
    align-items: center;
    color: #5394a0;

}

header{

    color: #5394a0;
}

.Newnote{
    
    width: 112px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
     color: #fff; 
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #55869b;
  
    
}

.Darkmode{
   
    width: 120px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #685369;
 
    
}

.Save{
  
    width: 80px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#55869b ;
 
    
}

.Cancel{
   
    width: 80px;
    border: 0;
    line-height: 2.5;
    padding: 0px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #E9806E;
 
    
}

textarea{
  
    background-color: whitesmoke;
    border: 1;
    border-color: #56cbf9;
}

.sidebar {
   


    
    background-color: whitesmoke;
    color: #55869b;
}

footer{
    color: #a6cad4;
    
    
}

header a {
    color: #5394a0;
    text-decoration: none;
}




footer h2 {
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}


.notes a {
    color: #5394a0;
    text-decoration: none;
    
}

.notes li{
    list-style-type: square;
}

