body{
     background-color:#f9f3ec 
}

.title{
    text-align: center;
    color: #43757A;
    font-family: 'Roboto Mono', monospace;
}

header{
    
    color: #43757A;
}

.changer{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
} 

.Newnote{
    position: absolute;
    left: 20px;
    width: 112px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
     color: #fff; 
    border-radius: 10px;
    background-color: #55869b;   
}

.Darkmode{
   position: absolute;
   right: 20px;
    width: 120px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #685369;  
}

.Darkmode:checked {
    background: #333;
  }
  
.dark {
    color: white;
    background: #444;
  }

.Save{
    width: 80px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color:#55869b ; 
}

.Cancel{
    width: 80px;
    border: 0;
    line-height: 2.5;
    padding: 0px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #E9806E;
    
}

textarea{
    height: 300px;
    border: 5px solid #9BBDF9;
    margin-top: 75px;
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 99%;
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

.textwrap{
    display: flex;
}

.sidebar{
    background-color: whitesmoke;
    color:#43757A ;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

footer{
    font-family: 'Roboto Mono', monospace;
    align-items: center;
    color: #43757A; 
}

header a {   
    color:#43757A ;
    text-decoration: none;
}


footer h2 {
    text-align: center;
}

.notes a {
    color: #43757A;
    text-decoration: none;
    
}

.notes li{
    list-style-type: square;
}

.firstbuttons{
    display: flex;
}

.bottomimg{
    display: flex;
    justify-content: center;
}

.bbuttons{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.page{
    display: grid;
    grid-template-rows: repeat(1fr, 2fr);
    grid-template-columns: 100%;
    grid-row: 1/2;
    grid-column: 1/6; 
}


.black-bg{
    background-color: #363537;
}

@media screen and (min-width:600px) {
    
    .page{
        grid-template-rows: repeat(1fr, 2fr);
        grid-template-columns: 20% 80%;
        grid-row: 1/2;
        grid-column: 1/6; 
    }
    
    .sidebar {
        height: 100%;
        width: 280px;
        position: absolute; 
        left: 0;
        top: 0;
        background-color: whitesmoke;
        color: #43757A;
    } 

    .Newnote{
        position: absolute;
        left: 300px;
        width: 112px;
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
         color: #fff; 
        border-radius: 10px;
        background-color: #55869b;     
    }

    .Darkmode{
        position: absolute;
        right: 30px; 
         width: 120px;
         border: 0;
         line-height: 2.5;
         padding: 0 20px;
         font-size: 1rem;
         text-align: center;
         color: #fff;
         border-radius: 10px;
         background-color: #685369;
     }

     .changer{
        text-align: right;
    }
    
    .bbuttons{
        
        display: flex;
        gap: 5px;
        margin-left: auto;
    }

    .notes li {
        color: #43757A;
        text-decoration: none;
        text-align: left;
    }
}